<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="./index.js"></script>
    <title>Document</title>
</head>
<body>
        <form class="calc" ng-controller="MyCtrl">
                <p class="calc-display">
                  <input type="text" name="output" id="res" value="{{output}}" class="calc-display-input">
                </p>
                <p class="operators">
                  <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("/")' >÷</button>
                  <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("*")' >x</button>
                  <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("-")' >-</button>
                  <button type="button" class="calc-button calc-button-red calc-button-big" ng-click='operate("+")' >+</button>
                </p>
                <p class="calc-row">
                  <button type="button" class="calc-button" ng-click="updateOutput($index)" ng-repeat="n in [0,1,2,3,4,5,6,7,8,9]">{{n}}</button>
                  <button type="button" class="calc-button" ng-click="updateOutput('.')">.</button>
                  <button type="button" class="calc-button" ng-click='output = 0'>C</button>
                  
                </p>
                <p class="calc-row"><button type="button" class="calc-button calc-button-yellow calc-button-big" ng-click="equal()">=</button></p>
              </form>
</body>
</html>