<!DOCTYPE html>
<html ng-app="plunker">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body ng-controller="MainCtrl">
    <div class="wrapper">
    
    <p class="calc-display">
      <input type="text" name="output" id="res" value="{{output}}" class="output">
    </p>
    <div class="row">
        <input type="button" value="7" name="num" ng-click='updateOutput("7")'>
        <input type="button" value="8" name="num" ng-click='updateOutput("8")'>
        <input type="button" value="9" name="num" ng-click='updateOutput("9")'>
        <input type="button" value="-" name="operator" ng-click='operate("-")'>
      </div>
      <div class="row">
        <input type="button" value="4" name="num" ng-click='updateOutput("4")'>
        <input type="button" value="5" name="num"ng-click='updateOutput("5")'>
        <input type="button" value="6" name="num" ng-click='updateOutput("6")'> 
        <input type="button" value="+" name="operator" ng-click='operate("+")'>
      </div>
      <div class="row">
        <input type="button" value="1" name="num" ng-click='updateOutput("1")'>
        <input type="button" value="2" name="num" ng-click='updateOutput("2")'>
        <input type="button" value="3" name="num" ng-click='updateOutput("3")'>
        <input type="button" value="*" name="operator" ng-click='operate("*")'>
      </div>
      <div class="row">
        <input type="button" value="0" name="num" ng-click='updateOutput("0")'>
        <input type="button" value="C" name="clear" ng-click='output = 0'>
        <input type="button" value="=" name="equal" ng-click="equal()">
        <input type="button" value="/" name="operator" ng-click='operate("/")'>
      </div>
    </div>
    <ul>
        <li>htmlapp: <br>
            <a href="http://localhost:3000">localhost:3000</a></li>
        <li>jquerry: <br>
            <a href="http://localhost:3001">localhost:3001</a></li>
        <li>angular:<br>
            <a href="http://localhost:3002">localhost:3002</a></li>
    </ul>

  </body>
<script src="./lib/angular1.6.6.js"></script>
<script src="./js/index.js"></script>
</html>
